@import url(reset.css);

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/Montserrat-Bold.woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/Montserrat-Regular.woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/Montserrat-Medium.woff2') format('woff2');  
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* GLOBAL */

body {
  font-family: 'montserrat', sans-serif;
  font-weight: 400;
  color: #212121;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding: 0 15px;
}

.subtitle {
  font-weight: 700;
  font-size: 36px;
}

/* HEADER */

.header {
  padding: 25px 0;
  font-size: 14px;
  font-weight: 500;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 90px;
}

.header-list {
  display: flex;
  gap: 50px;
  flex: 1;
}

.header-item {
}

.header-item a.active {
  color: #2196F3;
}

.header-mail {
  text-decoration: none;
  color: #2196F3;
}

.header-phone {
  margin-left: 50px;
}

.header-item a,
.header-mail, 
.header-phone {
  text-decoration: none;
}
 
.header-phone {
  text-decoration: none;
  color: #757575;
}

/* HERO */

.hero {
  background: url(../img/main-bg.jpg);
  min-height: 600px;
  display: flex;
  align-items: center;
}

.hero-container {
  width: 690px;
  margin: 0 auto;
  text-align: center;
}

.hero-title {
  font-weight: 700;
  color: #fff;
  font-size: 44px;
  line-height: 60px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero-btn { 
  background: #2196F3;
  font-weight: 700;
  color: #fff;
  padding: 17px 44px;
  cursor: pointer;
  border-radius: 4px;
}

.under-hero {
  margin-top: 94px;
  display: flex;
}

.paragraphs-container{
  display: flex;
}

.undr-card {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  font-weight: 700;
}

.h3 {
  flex: 1 1 270px;
  padding: 5px;
  color: #212121;
}

.paragraph {
  margin-top: 10px;
  color: #757575;
  font-weight: 400;
}


.svg-item {
  margin: 25px 100px;
  display: flex;
  height: 70px;
  width: 70px;
}

.svg-items{

}
.spriteee {
  display: flex;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
  background: #F5F4FA;
  margin-bottom: 30px;
  
}
  /* doing */

.doing {
  padding: 94px 0;
  display: flex;
}

.doing-title {
 line-height: 42px;
 font-weight: 700;
 font-size: 36px;
 color: #212121;
 text-align: center;
 margin-bottom: 50px;
}

.doing-cards {
  display: flex;
  flex-flow: nowrap;
  margin: 0 -15px;
  gap: 15px;
}

.doing-card {
  width: 33.333%;
  height: 294px;
  position: relative;
}

.doing-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.doing-p {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(47, 48, 58, .8);
  padding: 27px;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  width: 390px;
  color: #fff;
  opacity: 0;
  transition: all 0.3s linear;
}

.doing-card:hover .doing-p {
  opacity: 1;
}

/* footer */

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 9px;
  align-items: flex-start;
}

.footer-img {
  margin-bottom: 11px;
}

.footer {
  background: #2F303A;
  padding: 60px 0;
}

.footer p {
  color: #fff;
}

.footer a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
}

/* team */

.team {  
  padding: 94px 0;
  display: flex;
  background: #F5F4FA;
}


.team-title {
  line-height: 42px;
 font-weight: 700;
 font-size: 36px;
 color: #212121;
 text-align: center;
 margin-bottom: 50px;
}

.team-cards {
  display: flex;
  gap: 30px;
  margin: 0 -15px;
}

.team-card {
  width: 25%;
  box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.2);
}

.team-card img {
  width: 100%;
  height: 294px;
  object-fit: cover;
}

.position { 
  text-align: center;
  padding: 30px;
  font-weight: 500;
  font-size: 16px;
  color: #212121;
  background: #fff;
}

.position p {
  margin-top: 10px;
  color: #757575;
  font-weight: 400;
}

.social-media-team {
  display: flex;
  gap: 10px;
  margin-top: 16px;
  justify-content: center;
}

.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  
}

.icon-link svg{
  fill: #AFB1B8;
  width: 20px;
  height: 20px;
}

.icon-link:hover{
  transition: all 0.3s linear;
  background: #2196F3;
}

.icon-link:hover svg{
  fill: #fff;
}

/* Regular customers */



.regular-customers {
  padding: 94px 0;
}

.main-text-regular {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 50px;
}

.reg-all-sprite {
  
}

.reg-items {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  
}

.reg-item {
  padding: 19px 65px;
  border: 1px solid #AFB1B8;
  cursor: pointer;
  border-radius: 4px;
}

.reg-item svg {
  fill: #AFB1B8;
  width: 40px;
  height: 50px;
  
}

.reg-item a {
  display: block;
}

.reg-item:hover svg {
  transition: all 0.3s linear;
  fill: #2196F3;
}






/* PORTFOLIO */

.portfolio {
  display: flex;
}


.portfolio-buttons {
  display: flex;
  justify-content: center;
  margin: 98px 0 30px;
  gap: 8px;
  font-weight: 500;
}

.portfolio-buttons button {
 cursor: pointer;
 padding: 11px 25px;
 border-radius: 4px;
 background: #F5F4FA;
}

.portfolio-buttons button:hover {
  background: #2196F3;
  color: #fff;
}

.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 94px;
}

.portfolio-card {
  cursor: pointer;
  flex: 1 1 30%;
  position: relative;
  border: 1px solid #EEEEEE;
}


.portfolio-card img {
  object-fit: cover;
  width: 100%;
  height: 294px;
}

.portfolio-position {
  padding: 20px 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
}

.portfolio-position p {
  margin-top: 4px;
  font-weight: 400;
}

.portfolio-disc {
}

.portfolio-paragraph {
}

.portfolio-span {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 1;
  line-height: 28px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  background: rgba(33, 150, 243, 0.9);
  opacity: 0;
  padding: 24px;
  height: 294px;
}

.portfolio-card:hover .portfolio-span {
  opacity: 1;
}